.title {
  display: flex;
  height: 50rem;
  justify-content: space-between;
  position: relative;
  margin-top: 2rem;
  &__title {
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    &-logo {
      display: flex;
      align-items: center;

      &--logo {
        display: inline;
        height: 15rem;
        width: 15rem;
      }
      &--title {
        display: inline;
        font-size: 6rem;
        line-height: 0.9;
        word-spacing: 0.5;
        font-weight: bold;
        animation: hometitle 2s;
        color: var(--color-primary-purple);
        backface-visibility: hidden;
      }
    }
    &-subtitle1 {
      font-size: 2.5rem;
      margin: 7rem 2rem 2rem;
      animation: homepara 2s;
      animation-delay: 4s;
    }
    &-subtitle2 {
      font-size: 2.5rem;
      margin: 2rem;
      animation: homepara 2s;
      animation-delay: 6s;
    }
    &-videodiv {
      background-color: var(--color-primary-orange);
      &--heading {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: -15rem;
        padding: 2rem;
      }
      &--video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1%;
      }
    }
  }
}
// Home page Upcoming events Section
.upcomingevents {
  background-color: var(--color-primary-orange);
  padding-bottom: 4rem;
  margin-top: 2rem;
  &__heading {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 4rem 0 2rem;
    font-weight: bold;
  }

  &__contents {
    margin: 0 auto;
  }
  ///Styling banner
  .banner {
    height: 35rem;
    width: 60rem;
    color: white;

    &.banner-1 {
      background-image: url(./assits/images/pics/img3.jpg);
      background-size: cover;
    }
    &.banner-2 {
      //   background-image: url(../images/img14.png);
      background-size: cover;
    }
    &__contents-box {
      height: 35rem;
      width: 30rem;
    }
    &__contents {
      padding: 18rem 0 1rem 1rem;
      &.banner__contents-club {
        background-color: var(--color-primary-green-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
      }
      &.banner__contents-teens {
        background-color: var(--color-primary-orange-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
      }
      &.banner__contents-kids {
        background-color: var(--color-primary-purple-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
      }
      &-logo {
        &--img {
          width: 15rem;
          height: 7rem;

          &-2 {
            padding-left: 1.5rem;
          }
          &-3 {
            padding-left: 3rem;
          }
        }
      }
      &-location {
        text-transform: uppercase;
        font-size: 2.2rem;
      }
      &-month {
        text-transform: uppercase;
        font-size: 2.8rem;
      }
      &-day {
        text-transform: uppercase;
        font-size: 2.8rem;
      }
      &-organiser {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 200;
      }
    }
  }
}
// why join social program
.whyjoinprograms {
  color: white;
  padding: 5rem;
  background-color: var(--color-primary-green);
  position: relative;

  &__heading {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
  &__content {
    text-align: center;
    padding: 2rem;
    min-height: 22rem;

    &-sayings {
      font-size: 2.5rem;
      color: var(--color-primary-orange-dark);
    }
    &-character {
      font-size: 2rem;
      color: var(--color-primary-orange-dark);
      font-style: italic;
      margin-left: 50rem;
    }
  }
}
// Home page , why join social programs video
.videodiv {
  background-color: var(--color-primary-purple-dark);
  &__div {
    position: relative;
    margin: 0 auto;
    height: 70rem;
    width: 100%;
    @include clearfix;

    &-video {
      position: absolute;
      height: 80%;
      width: 70%;
      top: 12rem;
      left: 0;
      right: 0;
      bottom: 0;
      @include clearfix;
      margin: 0 auto;
    }
    &-text {
      text-align: center;
      padding-top: 5rem;
      font-size: 2.5rem;
      color: white;
      font-weight: bold;
    }
  }
}
// calendar
.calendar {
  color: white;
  width: 95rem;
  height: 115vh;
  background-color: var(--color-primary-purple);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  margin: 1rem auto;
}

.month {
  width: 100%;
  height: 12vh;
  background-color: var(--color-primary-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5vh;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(94.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2vh;
}

.days div {
  font-size: 1.7rem;
  margin: 0.1rem;
  width: calc(90.2rem / 7);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all r 0.2s;
  background-color: #460c286f;
}

.days div:hover:not(.today) {
  background-color: #460c28c7;
  border: 0.1rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}
.prev {
  margin-left: 17rem;
  display: inline-block;
}
.next {
  display: inline-block;

  margin-right: 17rem;
}
.today {
  background-color: var(--color-primary-green);
}
.link_white {
  font-size: 1.6rem;
  display: block;
  color: white;
  margin-top: 0.7rem;
  &:hover {
    color: var(--color-primary-green);
  }
}
// footer
.contact{
  background-color:var(--color-primary-purple);
  &_heading{
    color:white;
    text-align: center;
    font-size: 3rem;
    border-bottom:1px solid black;
  }
}