* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-purple-light),
    var(--color-primary-orange-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: visible;
}
.container {
  max-width: 160rem;
  margin: 3rem auto;
  min-height: 100rem;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 22%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
}
.mainbody {
  background-color: #fff;
  flex: 1;
  min-height: 100vh;
  position: relative;
}