:root {
  --color-primary-purple: #801649;
  --color-primary-purple-light: #d12378;
  --color-primary-purple-dark: #460c28;
  --color-primary-orange: #d06f1a;
  --color-primary-orange-light: #eb9e5c;
  --color-primary-orange-dark: #914d12;
  --color-primary-green: #9fa617;
  --color-primary-green-light: #d4dc41;
  --color-primary-green-dark: #636713;
  --color-primary-green-light-transparent: #d4dc41d7;
  --color-primary-orange-light-transparent: #eb9f5ce7;
  --color-primary-purple-light-transparent: #d12377e5;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

@keyframes hometitle {
  0% {
    transform: translatex(6rem);
    color: var(--color-primary-orange); }
  40% {
    color: var(--color-primary-orange); }
  50% {
    color: var(--color-primary-green); }
  80% {
    transform: translateX(-1rem); }
  90% {
    color: var(--color-primary-green); }
  100% {
    transform: translate(0);
    color: var(--color-primary-green); } }

@keyframes homepara {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-purple-light), var(--color-primary-orange-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: visible; }

.container {
  max-width: 160rem;
  margin: 3rem auto;
  min-height: 100rem;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 22%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  width: 100%; }

.mainbody {
  background-color: #fff;
  flex: 1;
  min-height: 100vh;
  position: relative; }

.side-nav {
  list-style: none;
  margin-top: 3.5rem;
  position: fixed; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color--grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    z-index: 2;
    width: 100%; }
  .side-nav__item {
    position: relative;
    height: 4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    padding-right: 1rem;
    width: 100%; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 20px;
      background-color: var(--color-primary-purple);
      transform: scaleY(0);
      transition: transform 0.3s, width 0.3s 0.3s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-purple-light); }
  .side-nav__link {
    display: block;
    width: 100%; }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    fill: currentColor;
    margin-left: 1rem; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5 rem; }

.title {
  display: flex;
  height: 50rem;
  justify-content: space-between;
  position: relative;
  margin-top: 2rem; }
  .title__title {
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold; }
    .title__title-logo {
      display: flex;
      align-items: center; }
      .title__title-logo--logo {
        display: inline;
        height: 15rem;
        width: 15rem; }
      .title__title-logo--title {
        display: inline;
        font-size: 6rem;
        line-height: 0.9;
        word-spacing: 0.5;
        font-weight: bold;
        animation: hometitle 2s;
        color: var(--color-primary-purple);
        backface-visibility: hidden; }
    .title__title-subtitle1 {
      font-size: 2.5rem;
      margin: 7rem 2rem 2rem;
      animation: homepara 2s;
      animation-delay: 4s; }
    .title__title-subtitle2 {
      font-size: 2.5rem;
      margin: 2rem;
      animation: homepara 2s;
      animation-delay: 6s; }
    .title__title-videodiv {
      background-color: var(--color-primary-orange); }
      .title__title-videodiv--heading {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: -15rem;
        padding: 2rem; }
      .title__title-videodiv--video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1%; }

.upcomingevents {
  background-color: var(--color-primary-orange);
  padding-bottom: 4rem;
  margin-top: 2rem; }
  .upcomingevents__heading {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 4rem 0 2rem;
    font-weight: bold; }
  .upcomingevents__contents {
    margin: 0 auto; }
  .upcomingevents .banner {
    height: 35rem;
    width: 60rem;
    color: white; }
    .upcomingevents .banner.banner-1 {
      background-image: url(./assits/images/pics/img3.jpg);
      background-size: cover; }
    .upcomingevents .banner.banner-2 {
      background-size: cover; }
    .upcomingevents .banner__contents-box {
      height: 35rem;
      width: 30rem; }
    .upcomingevents .banner__contents {
      padding: 18rem 0 1rem 1rem; }
      .upcomingevents .banner__contents.banner__contents-club {
        background-color: var(--color-primary-green-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%); }
      .upcomingevents .banner__contents.banner__contents-teens {
        background-color: var(--color-primary-orange-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%); }
      .upcomingevents .banner__contents.banner__contents-kids {
        background-color: var(--color-primary-purple-light-transparent);
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%); }
      .upcomingevents .banner__contents-logo--img {
        width: 15rem;
        height: 7rem; }
        .upcomingevents .banner__contents-logo--img-2 {
          padding-left: 1.5rem; }
        .upcomingevents .banner__contents-logo--img-3 {
          padding-left: 3rem; }
      .upcomingevents .banner__contents-location {
        text-transform: uppercase;
        font-size: 2.2rem; }
      .upcomingevents .banner__contents-month {
        text-transform: uppercase;
        font-size: 2.8rem; }
      .upcomingevents .banner__contents-day {
        text-transform: uppercase;
        font-size: 2.8rem; }
      .upcomingevents .banner__contents-organiser {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 200; }

.whyjoinprograms {
  color: white;
  padding: 5rem;
  background-color: var(--color-primary-green);
  position: relative; }
  .whyjoinprograms__heading {
    font-size: 3rem;
    text-align: center;
    font-weight: bold; }
  .whyjoinprograms__content {
    text-align: center;
    padding: 2rem;
    min-height: 22rem; }
    .whyjoinprograms__content-sayings {
      font-size: 2.5rem;
      color: var(--color-primary-orange-dark); }
    .whyjoinprograms__content-character {
      font-size: 2rem;
      color: var(--color-primary-orange-dark);
      font-style: italic;
      margin-left: 50rem; }

.videodiv {
  background-color: var(--color-primary-purple-dark); }
  .videodiv__div {
    position: relative;
    margin: 0 auto;
    height: 70rem;
    width: 100%; }
    .videodiv__div::after {
      content: "";
      display: table;
      clear: both; }
    .videodiv__div-video {
      position: absolute;
      height: 80%;
      width: 70%;
      top: 12rem;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; }
      .videodiv__div-video::after {
        content: "";
        display: table;
        clear: both; }
    .videodiv__div-text {
      text-align: center;
      padding-top: 5rem;
      font-size: 2.5rem;
      color: white;
      font-weight: bold; }

.calendar {
  color: white;
  width: 95rem;
  height: 115vh;
  background-color: var(--color-primary-purple);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  margin: 1rem auto; }

.month {
  width: 100%;
  height: 12vh;
  background-color: var(--color-primary-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.month i {
  font-size: 2.5rem;
  cursor: pointer; }

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem; }

.month p {
  font-size: 1.6rem; }

.weekdays {
  width: 100%;
  height: 5vh;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(94.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2vh; }

.days div {
  font-size: 1.7rem;
  margin: 0.1rem;
  width: calc(90.2rem / 7);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all r 0.2s;
  background-color: #460c286f; }

.days div:hover:not(.today) {
  background-color: #460c28c7;
  border: 0.1rem solid #777;
  cursor: pointer; }

.prev-date,
.next-date {
  opacity: 0.5; }

.prev {
  margin-left: 17rem;
  display: inline-block; }

.next {
  display: inline-block;
  margin-right: 17rem; }

.today {
  background-color: var(--color-primary-green); }

.link_white {
  font-size: 1.6rem;
  display: block;
  color: white;
  margin-top: 0.7rem; }
  .link_white:hover {
    color: var(--color-primary-green); }

.contact {
  background-color: var(--color-primary-purple); }
  .contact_heading {
    color: white;
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid black; }
