:root {
  --color-primary-purple: #801649;
  --color-primary-purple-light: #d12378;
  --color-primary-purple-dark: #460c28;
  --color-primary-orange: #d06f1a;
  --color-primary-orange-light: #eb9e5c;
  --color-primary-orange-dark: #914d12;
  --color-primary-green: #9fa617;
  --color-primary-green-light: #d4dc41;
  --color-primary-green-dark: #636713;
  --color-primary-green-light-transparent: #d4dc41d7;
  --color-primary-orange-light-transparent: #eb9f5ce7;
  --color-primary-purple-light-transparent: #d12377e5;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-purple-light), var(--color-primary-orange-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: visible; }

.container {
  max-width: 160rem;
  margin: 3rem auto;
  min-height: 100rem;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); }
